.container{
    background-color: hsl(0,0%,12%);
    flex-wrap: wrap;
    width: 25%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 12px;

    
    

  }
  

img{
    width: 90px;
    clip-path: circle();
    display: flex;
    margin: auto;
    height: 100px;


    


}

h1{
    color: white;
    justify-content: center;
    display: flex;
    font-size: x-large;
    height: 10px;



           
}

h5{
    color: hsl(75, 94%,75%);
    display:flex;
    justify-content: center;
    font-size: smaller; 
    align-items: center;      
}

p{
    color: white;
    display: flex;
    justify-content: center;
    font-size: smaller;
    
    
}

.box{
    background-color: hsl(0, 0%, 20%);
    padding:15px;
    border-radius: 5px;
    width: 70%;
    height: 14px;
    margin: auto; 
    font-size: small;  
}
body{
    background-color: black;

}

a{
    color: white;
    display: flex;
    justify-content:center;
    text-decoration: none;    
}
.box:hover{
    background-color: hsl(75, 94%, 57%);
}


